
.available-superbets {
  position: sticky;
  top: calc(-1px - env(safe-area-inset-top, 0px));
  padding-top: calc(#{$space-25} + env(safe-area-inset-top, 0px));
  padding-bottom: $space-25;
  background: $gray-10;
}

.available-superbets__items {
  display: flex;
  justify-content: center;
}

.available-superbets__item + .available-superbets__item {
  margin-left: $space-10;
}

.superbet--disabled {
  color: $gray-14!important;

  svg {
    opacity: .25;
  }
}
