
.avatar {
  display: block;
  width: $space-75;
  border-radius: 999em;
}

.avatar--tiny {
  width: $space-35;
}

.avatar--small {
  width: $space-50;
}

.avatar--large {
  width: $space-125;
}

.avatar--xlarge {
  width: $space-150;
}
