@use "sass:color";
@use 'reset' as *;
@use 'variables' as *;
@use 'mixins' as *;
// @use 'app' as *;
// @use 'loading' as *;
@use 'rank-grid' as *;
@use 'forms' as *;
@use 'header' as *;
@use 'logo' as *;
@use 'nav' as *;
@use 'player-menu' as *;
@use 'bets' as *;
@use 'match-preview' as *;
@use 'score-preview' as *;
@use 'user-preview' as *;
@use 'messages' as *;
@use 'blankslate' as *;
@use 'flag' as *;
@use 'home' as *;
@use 'avatar' as *;
@use 'rank-chart' as *;
@use 'available-superbets' as *;
@use 'help' as *;
@use 'admin' as *;
@use 'teams' as *;

* {
  box-sizing: border-box;
}

html {
  font-size: calc(57.5% + .25vw);
  background: color.adjust($body-bg, $lightness: -3%);
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $white;
}

img, svg {
  max-width: 100%;
}

a {
  border-bottom: 2px solid $yellow-100;
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  line-height: 1.2;
}

h1, .h1 {
  font-size: $h1Size;
}

h2, .h2 {
  font-size: $h2Size;
}

h3, .h3 {
  font-size: $h3Size;
}

.text--small {
  font-size: $textSmallSize;
}

.text--tiny {
  font-size: $textTinySize;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--cyan {
  color: $cyan-100;
}

.text--blue {
  color: $blue-100;
}

.text--purple {
  color: $purple-100;
}

.text--magenta {
  color: $magenta-100;
}

.text--red {
  color: $red-100;
}

.text--orange {
  color: $orange-100;
}

.text--yellow {
  color: $yellow-100;
}

.text--green {
  color: $green-100;
}

.text--gray-14 {
  color: $gray-14;
}

.text--gray-20 {
  color: $gray-20;
}

.nowrap {
  white-space: nowrap;
}

.is-live {
  animation: 1.25s ease-in-out alternate infinite pulsate ;
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

.icon--zero-points {
  img {
    filter: grayscale(1) brightness(1);
    opacity: .4;
  }
}

.main {
  padding: $space-100 0;
  background: $body-bg;
}

.main__title,
.main__subtitle {
  margin-bottom: $space-50;
  text-align: center;
}

.matches__total {
  margin-bottom: $space-50;
}

.wrapper {
  position: relative;
  max-width: 36rem;
  margin: 0 auto;
  padding: 0 $space-25;
}

.footer {
  padding: $space-100 0;
  background: color.adjust($gray-10, $lightness: -3%);
  color: $gray-14;
  text-align: center;
  box-shadow: inset 0 2px 2px rgba($black, .25);
}

.footer__title {
  font-weight: $bold-font-weight;
  opacity: .5;
}

.footer__slogan {
  font-size: $textSmallSize;
}

.footer__version {
  margin-top: $space-10;
  color: $gray-14;
}
