@import 'reset';
@import 'variables';
@import 'grid';
@import 'header';
@import 'tabs';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.6;
}

img, svg {
  max-width: 100%;
}

a {
  color: $blue-100;
  text-decoration: none;
}
