@import 'reset';
@import 'variables';
// @import 'app';
// @import 'loading';
// @import 'grid';
// @import 'dataGrid';
@import 'forms';
@import 'header';
@import 'logo';
@import 'nav';
@import 'player-menu';
@import 'user-preview';
@import 'score-preview';
// @import 'tabs';
// @import 'list';
// @import 'hero';
// @import 'match-item';
@import 'avatar';
// @import 'flag';
@import 'rank-chart';

* {
  box-sizing: border-box;
}

html {
  font-size: calc(57.5% + .25vw);
  background: darken($body-bg, 3%);
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $white;
}

img, svg {
  max-width: 100%;
}

a {
  border-bottom: 2px solid $yellow-100;
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  line-height: 1.2;
}

h1, .h1 {
  font-size: $h1Size;
}

h2, .h2 {
  font-size: $h2Size;
}

h3, .h3 {
  font-size: $h3Size;
}

.text--small {
  font-size: $textSmallSize;
}

.text--tiny {
  font-size: $textTinySize;
}

.text--cyan {
  color: $cyan-100;
}

.text--blue {
  color: $blue-100;
}

.text--purple {
  color: $purple-100;
}

.text--magenta {
  color: $magenta-100;
}

.text--red {
  color: $red-100;
}

.text--orange {
  color: $orange-100;
}

.text--yellow {
  color: $yellow-100;
}

.text--green {
  color: $green-100;
}

.text--gray-20 {
  color: $gray-20;
}

.main {
  padding: $space-100 0;
  background: $body-bg;
}

.main__title {
  margin-bottom: $space-50;
  text-align: center;
}

.wrapper {
  position: relative;
  max-width: 36rem;
  margin: 0 auto;
}

.footer {
  padding: $space-100 0;
  background: darken($gray-10, 3%);
  color: $gray-14;
  text-align: center;
  box-shadow: inset 0 2px 2px rgba($black, .25);
}

.footer__title {
  font-weight: $bold-font-weight;
  opacity: .5;
}

.footer__slogan {
  font-size: $textSmallSize;
}
