.dataGrid {
  width: 100%;

  tr {
    border-bottom: 1px solid rgba($white, .1);
  }

  th {
    font-size: 1.5rem;
    font-weight: $bold-font-weight;
    text-transform: uppercase;
    text-align: left;
  }

  td {
    padding: $space-25 .4rem;
    // line-height: $space-75 * 2;
  }
}
