@use 'variables' as *;

.flag {
  width: $space-100;
  height: $space-100;
  border: 2px solid $gray-12;
  border-radius: 999em;
  background: $gray-10;
  background-size: cover;
  background-position: center;
}

.flag--is-bet {
  border-color: $yellow-100;
}

.flag--tiny {
  width: $space-35;
  height: $space-35;
}

.flag--small {
  width: $space-50;
  height: $space-50;
}

.flag--medium {
  width: $space-75;
  height: $space-75;
}

.flag--large {
  width: $space-125;
  height: $space-125;
}

.flag--xlarge {
  width: $space-150;
  height: $space-150;
}

.flag--drw {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $bold-font-weight;
  color: $gray-14;
  padding-top: .2rem;

  &.flag--is-bet {
    color: $yellow-100;
  }
}

.flag--default {
  background-image: url('assets/img/flags/default.svg');
}

.flag--aut {
  background-image: url('assets/img/flags/aut.svg');
}

.flag--bel {
  background-image: url('assets/img/flags/bel.svg');
}

.flag--cro {
  background-image: url('assets/img/flags/cro.svg');
}

.flag--cze {
  background-image: url('assets/img/flags/cze.svg');
}

.flag--den {
  background-image: url('assets/img/flags/den.svg');
}

.flag--eng {
  background-image: url('assets/img/flags/eng.svg');
}

.flag--fin {
  background-image: url('assets/img/flags/fin.svg');
}

.flag--fra {
  background-image: url('assets/img/flags/fra.svg');
}

.flag--ger {
  background-image: url('assets/img/flags/ger.svg');
}

.flag--hun {
  background-image: url('assets/img/flags/hun.svg');
}

.flag--ita {
  background-image: url('assets/img/flags/ita.svg');
}

.flag--mkd {
  background-image: url('assets/img/flags/mac.svg');
}

.flag--ned {
  background-image: url('assets/img/flags/ned.svg');
}

.flag--pol {
  background-image: url('assets/img/flags/pol.svg');
}

.flag--por {
  background-image: url('assets/img/flags/por.svg');
}

.flag--rus {
  background-image: url('assets/img/flags/rus.svg');
}

.flag--sco {
  background-image: url('assets/img/flags/sco.svg');
}

.flag--svk {
  background-image: url('assets/img/flags/slo.svg');
}

.flag--esp {
  background-image: url('assets/img/flags/spa.svg');
}

.flag--swe {
  background-image: url('assets/img/flags/swe.svg');
}

.flag--sui {
  background-image: url('assets/img/flags/swi.svg');
}

.flag--tur {
  background-image: url('assets/img/flags/tur.svg');
}

.flag--ukr {
  background-image: url('assets/img/flags/ukr.svg');
}

.flag--wal {
  background-image: url('assets/img/flags/wls.svg');
}

.flag--arg {
  background-image: url('assets/img/flags/arg.svg');
}

.flag--aus {
  background-image: url('assets/img/flags/aus.svg');
}

.flag--bih {
  background-image: url('assets/img/flags/bih.svg');
}

.flag--bra {
  background-image: url('assets/img/flags/bra.svg');
}

.flag--can {
  background-image: url('assets/img/flags/can.svg');
}

.flag--civ {
  background-image: url('assets/img/flags/civ.svg');
}

.flag--cod {
  background-image: url('assets/img/flags/cod.svg');
}

.flag--col {
  background-image: url('assets/img/flags/col.svg');
}

.flag--cpv {
  background-image: url('assets/img/flags/cpv.svg');
}

.flag--cuw {
  background-image: url('assets/img/flags/cuw.svg');
}

.flag--dza,
.flag--alg {
  background-image: url('assets/img/flags/alg.svg');
}

.flag--ecu {
  background-image: url('assets/img/flags/ecu.svg');
}

.flag--egy {
  background-image: url('assets/img/flags/egy.svg');
}

.flag--gha {
  background-image: url('assets/img/flags/gha.svg');
}

.flag--hai {
  background-image: url('assets/img/flags/hai.svg');
}

.flag--irn {
  background-image: url('assets/img/flags/irn.svg');
}

.flag--irq {
  background-image: url('assets/img/flags/irq.svg');
}

.flag--jor {
  background-image: url('assets/img/flags/jor.svg');
}

.flag--jpn {
  background-image: url('assets/img/flags/jpn.svg');
}

.flag--kor {
  background-image: url('assets/img/flags/kor.svg');
}

.flag--mar {
  background-image: url('assets/img/flags/mar.svg');
}

.flag--mex {
  background-image: url('assets/img/flags/mex.svg');
}

.flag--nor {
  background-image: url('assets/img/flags/nor.svg');
}

.flag--nzl {
  background-image: url('assets/img/flags/nzl.svg');
}

.flag--pan {
  background-image: url('assets/img/flags/pan.svg');
}

.flag--pry,
.flag--par {
  background-image: url('assets/img/flags/par.svg');
}

.flag--qat {
  background-image: url('assets/img/flags/qat.svg');
}

.flag--sau,
.flag--ksa {
  background-image: url('assets/img/flags/ksa.svg');
}

.flag--sen {
  background-image: url('assets/img/flags/sen.svg');
}

.flag--tun {
  background-image: url('assets/img/flags/tun.svg');
}

.flag--ury,
.flag--uru {
  background-image: url('assets/img/flags/uru.svg');
}

.flag--usa {
  background-image: url('assets/img/flags/usa.svg');
}

.flag--uzb {
  background-image: url('assets/img/flags/uzb.svg');
}

.flag--zaf,
.flag--rsa {
  background-image: url('assets/img/flags/rsa.svg');
}
