@use "sass:color";

.external-page {
  padding: 0 $space-25;
}

.to-login,
.to-register,
.to-reset {
  margin: -$space-25 0 $space-100;
  font-size: $textSmallSize;
  font-weight: $base-font-weight;
  color: $gray-20;
  text-align: center;

  a {
    color: $yellow-100;

    &:hover,
    &:focus {
      border-color: $orange-100;
      color: $orange-100;
      outline: 0;
    }
  }
}

.to-reset {
  display: inline;
  margin: 0 0 0 $space-75;
}

input {
  width: 100%;
  margin-bottom: $space-25;
  padding: $space-35 $space-50;
  background: $gray-12;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  color: $white;

  &:hover {
    background: color.adjust($gray-12, $lightness: 5%);
  }

  &:focus {
    background: $gray-14;
    outline: 0;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray-20;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray-20;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray-20;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray-20;
}

.select {
  display: block;
  width: 100%;
  max-width: 28rem;
  margin: 0 auto $space-25;
  padding: $space-50 $space-125 $space-50 $space-75;
  background-color: $gray-12;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='%23C0BEC1' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right $space-50 center;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  font-weight: $bold-font-weight;
  line-height: 1.5;
  color: $white;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  &:hover {
    background-color: color.adjust($gray-12, $lightness: 5%);
  }

  &:focus {
    background-color: $gray-14;
    border-color: $yellow-100;
    outline: 0;
  }

  option {
    background: $gray-10;
  }
}

.btn {
  margin-bottom: $space-25;
  padding: $space-35 $space-75;
  background: $gray-14;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  font-weight: $bold-font-weight;
  color: $white;

  .submit & {
    margin-top: $space-50;
  }
}

.btn--primary {
  background: $yellow-100;
  color: $gray-10;

  &:hover,
  &:focus {
    background: $orange-100;
    outline: 0;
  }
}

.btn--secondary {
  margin: 0;
  padding: $space-10;
  background: $gray-14;
  color: $white;

  &:hover,
  &:focus {
    background: color.adjust($gray-14, $lightness: 5%);
    outline: 0;
  }
}
