
.header {
  background: linear-gradient(to left, $blue-30, $blue-20);

  @media (min-width: 768px) {
    background: $white;
    box-shadow: 0 0 500px rgba(0,0,0,.2);
  }
}

.header__grid {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 2.5fr 7fr 2.5fr;
    height: 6rem;
  }
}

.logo,
.player-info {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.logo {
  align-items: center;
  font-size: 2rem;
  font-weight: $bold-font-weight;
  color: $yellow-80;
  text-transform: uppercase;
}

.logo__tournament {
  font-weight: $base-font-weight;
  color: $yellow-100;
}

.nav {
  margin: 0 $space-100;
  padding: $space-25 0 0;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.nav__items {
  display: flex;
  justify-content: space-between;
}

.nav__item {

  @media (min-width: 768px) {
    margin-right: $space-100;
  }
}

.nav__link {
  font-size: 1rem;
  font-weight: $bold-font-weight;
  line-height: 1.2;
  text-transform: uppercase;
  color: $white;

  &.router-link-exact-active {
    color: $blue-100;

    svg g {
      fill: $blue-100;
    }
  }

  @media (min-width: 768px) {
    font-size: 15px;
    line-height: $space-75;
    color: $black;

    svg g {
      fill: $black;

      .router-link-exact-active & {
        fill: $blue-100;
      }
    }
  }
}

.nav__img {
  display: flex;
  align-items: center;
  margin: 0 auto -#{$space-10};
  width: $space-75;
  height: $space-75;

  svg {
    width: $space-75;
    height: $space-75;
  }

  @media (min-width: 768px) {
    display: inline;

    svg {
      margin-top: -#{$space-10};
      margin-right: $space-25;
      width: $space-50;
      height: $space-50;
      vertical-align: middle;
    }
  }
}

.player-info {
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: $bold-font-weight;
  color: $black;
  text-transform: uppercase;
}

.player-info__score {
  margin-right: $space-35;}

.player-info__label {
  margin-right: $space-10;
  font-weight: $base-font-weight;
  color: $gray-100;
}
