
.header {
  // background: linear-gradient(to left, $blue-30, $blue-20);
  //
  // @media (min-width: 800px) {
  //   background: $white;
  //   box-shadow: 0 0 500px rgba(0,0,0,.2);
  // }
}

.header__grid {
  @media (min-width: 800px) {
    display: flex;
    height: 6rem;
    > * {
      flex: 1 0 auto;
    }
  }
}

.logo,
.player-info {
  display: none;

  @media (min-width: 800px) {
    display: flex;
  }
}

.logo {
  flex: 0 0 auto;
  margin-right: $space-75;
  align-items: center;
  font-size: 2rem;
  font-weight: $bold-font-weight;
  color: $neon-cyan;
  text-transform: uppercase;

  @media (min-width: 1024px) {
    display: flex;
    margin-right: $space-75 * 2;
  }
}

.logo__tournament {
  font-weight: $base-font-weight;
  // color: $yellow-100;
}

.nav {
  margin: 0 $space-50;
  padding: $space-25 0 0;
  @media (min-width: 800px) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.nav__items {
  display: flex;
  justify-content: space-between;
}

.nav__item {

  @media (min-width: 800px) {
    margin-right: $space-100;
  }
}

.nav__link {
  padding: $space-10 $space-50;
  border-radius: 999em;
  font-size: 1rem;
  font-weight: $bold-font-weight;
  line-height: 1.2;
  text-transform: uppercase;
  color: $white;

  &.router-link-active {
    // color: $blue-100;
    background: rgba(0,0,0,.5);

    svg g,
    svg path {
      // fill: $blue-100;
    }
  }

  @media (min-width: 800px) {
    font-size: 15px;
    line-height: $space-75;
    // color: $black;

    svg g,
    svg path {
      // fill: $black;

      .router-link-active {
        // fill: $blue-100;
      }
    }
  }
}

.nav__img {
  display: flex;
  align-items: center;
  margin: 0 auto -#{$space-10};
  width: $space-75;
  height: $space-75;

  svg {
    width: $space-75;
    height: $space-75;
  }

  @media (min-width: 800px) {
    display: inline;

    svg {
      margin-top: -#{$space-10};
      margin-right: $space-25;
      width: $space-50;
      height: $space-50;
      vertical-align: middle;
    }
  }
}

.player-info {
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: $bold-font-weight;
  // color: $black;
  text-transform: uppercase;
}

.player-info__score {
  margin-right: $space-35;}

.player-info__label {
  margin-right: $space-10;
  font-weight: $base-font-weight;
  color: $gray-100;
}
