
.header {
  position: relative;
  padding: $space-35 $space-35 0;
  background: $gray-10;
  box-shadow: 0 2px 2px rgba($black, .25);
  z-index: 100;

  .wrapper {
    max-width: 36rem;
  }

  .logo {
    display: block;
    margin-bottom: $space-25;
    border-bottom: 0;
  }
}
