$gradient-overlay: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5));

.hero {
  margin-bottom: $space-75;
  padding: $space-100 * 2 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  color: $white;

  @media (min-width: 768px) {
    padding: $space-100 * 2 0;
    text-align: left;

    .avatar {
      float: right;
    }
  }
}

.hero__heading {
  font-size: 4.7rem;
  font-weight: $bold-font-weight;
  font-family: 'snicker';
}

.hero__info {
  font-size: 1.6rem;
  // text-transform: uppercase;
}
