.list {
  margin-bottom: $space-75;
}

.list__header {
  display: flex;
  justify-content: space-between;
  padding: 0 $space-25;
  font-size: 1.5rem;
  font-weight: $bold-font-weight;
  line-height: $space-100;
}

.list__items {
  padding: 0 $space-25;
}

.list__item {
  padding: $space-35 0;
  border-bottom: 1px solid rgba($white, .1);
}
