.v-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
}

.msg--save {
  display: inline-block;
  position: fixed;
  bottom: $space-50;
  right: $space-25;
  z-index: 801;
  width: 100px;
  padding: $space-25 $space-50;
  background: white;
  border-radius: 4px;
  // box-shadow: 0 10px 20px rgba(0,0,0,.08),
  //             0 4px 8px rgba(0,0,0,.1),
  //             0 2px 4px rgba(0,0,0,.1);
  font-size: 1.5rem;
  color: $gray-100;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(80vw);
  transition: transform .3s ease-out;

  .isSaving & {
    transform: translateX(0);
    transition: transform .3s ease-in;
  }

  .no-superbets-left & {
    bottom: 0;
  }

  .saved {
    display: none;
  }

  &.saveSuccess {
    .saving {
      display: none;
    }
    .saved {
      display: block;
    }
  }
}

.ellipsis-1 {
  animation: ellipsis1 .5s infinite;
}

.ellipsis-2 {
  animation: ellipsis2 .5s infinite;
}

.ellipsis-3 {
  animation: ellipsis3 .5s infinite;
}

@keyframes ellipsis1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ellipsis2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ellipsis3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
