
.logo {
  text-align: center;
}

.logo__name {
  margin: 0;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: .8;
}

.logo__tournament {
  margin: 0;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: 1;
  color: $gray-20;
}
