.match-item {
  @extend .cf;
}

.match-item__time {
  float: left;
  clear: both;
  margin-right: $space-35;
  color: $gray-100;

  .match-item--upcoming & {
    float: right;
    clear: none;
    margin: 0 0 0 $space-35;
    line-height: $space-100;
  }
}

.match-item__time,
.match-item__odds,
.match-item__bet {
  font-size: 1.5rem;
}

.match-item__teams {
  float: left;
}

.match-item__goals {
  float: right;
}

.match-item__ownBet {
  clear: both;
  display: flex;
}

.match-item__odds {
  flex: 1 0 auto;
  display: flex;
  color: $gray-100;
  text-transform: uppercase;

  > div {
    margin-right: $space-25;
  }
}

.match-item__bet {
  clear: both;
  color: $gray-100;

  .match-item--upcoming & {
    display: flex;
  }
}

.has-bet {
  font-weight: $bold-font-weight;
  color: $black;
}

.has-scored {
  font-weight: $bold-font-weight;
  color: $green-100;
}

.failed-supertip {
  path {
    fill: $gray-25;
    stroke: $gray-100;
  }
}

.odds-estimation {
  display: inline-block;
  width: $space-35;
  height: $space-35;
  transform-origin: bottom;

  &.medium {
    transform: rotateZ(90deg);
    path {
      fill: $orange-100;
    }
  }

  &.low {
    transform: rotateZ(180deg);
    path {
      fill: $red-100;
    }
  }
}

.match__input {
  display: none;

  &:checked + .match__label {
    background: $blue-150;
    border: 1px solid $blue-140;
    color: $black;
  }
}

.match__label {
  display: block;
  padding: $space-25 $space-35;
  border-radius: 999em;
  color: $blue-100;
  text-transform: uppercase;
}
