.match-item {
  @extend .cf;
}

.match-item__time {
  float: left;
  clear: both;
  margin-right: $space-35;
  color: $gray-100;

  .match-item--upcoming & {
    float: right;
    clear: none;
    margin: 0 0 0 $space-35;
    line-height: $space-100;
  }
}

.match-item__time,
.match-item__odds,
.match-item__bet {
  font-size: 1.5rem;
}

.match-item__teams {
  float: left;
}

.match-item__goals {
  float: right;
}

.match-item__ownBet {
  clear: both;
  display: flex;
}

.match-item__odds {
  flex: 1 0 auto;
  display: flex;
  color: $gray-100;
  text-transform: uppercase;

  > div {
    margin-right: $space-25;
  }
}

.match-item__bet {
  clear: both;
  color: $gray-100;

  .match-item--upcoming & {
    display: flex;
  }
}

.has-bet {
  font-weight: $bold-font-weight;
  color: $black;
}

.has-scored {
  font-weight: $bold-font-weight;
  color: $green-100;
}

.failed-supertip {
  path {
    fill: $gray-25;
    stroke: $gray-100;
  }
}

.odds-estimation {
  display: inline-block;
  width: $space-35;
  height: $space-35;
  transform-origin: bottom;

  &.medium {
    transform: rotateZ(90deg);
    path {
      fill: $orange-100;
    }
  }

  &.low {
    transform: rotateZ(180deg);
    path {
      fill: $red-100;
    }
  }
}

.match__input {
  display: none;

  &:checked + .match__label--radio {
    background: linear-gradient(to bottom, #ccedfc, #bbe6fa);
    border: 1px solid #a6d1de;
    box-shadow: none;
    color: $black;
  }
}

.match__label {
  display: block;
  padding: $space-25 $space-35;
  border-radius: 999em;
  color: $blue-100;
  text-transform: uppercase;
}

.btn--supertip {
  transition: transform .2s ease-in-out;
}

input:not(:checked) + label .btn--supertip {
  transform: rotateZ(144deg);
}

input:not(:checked) + label .btn--supertip path {
  fill: $white;
  stroke: $gray-100;
}

$gradient-overlay: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.7));

.match-item--live {
  margin-bottom: $space-100;
  padding: $space-100 0;
  background-image: $gradient-overlay, url('assets/img/hero-8.jpg');
  background-size: cover;
  border-bottom: $space-10 solid $blue-100;
  text-align: center;
  color: $white;
  text-shadow: 0 2px 10px rgba(0,0,0,.5);

  li:nth-child(even) & {
    background-image: $gradient-overlay, url('assets/img/hero-5.jpg');
  }

  .match-item__time,
  .match-item__teams,
  .match-item__goals,
  .match-item__odds {
    float: none;
  }

  .match-item__time,
  .match-item__time-played,
  .match-item__odds {
    font-size: 1.6rem;
    color: $white;
  }

  .match-item__teams {
    font-size: 2.6rem;
    font-weight: $bold-font-weight;
  }

  .match-item__goals {
    font-size: 4.7rem;
  }

  .match-item__bet {
    position: relative;
    padding: $space-25 $space-75;
    background: $red-150;
    border-radius: 999em;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    font-size: 2.4rem;
    font-weight: $base-font-weight;
    color: $red-50;
    text-shadow: none;

    &.has-scored {
      background-color: $green-150;
      color: $green-50;
    }
  }

  .match-item__supertip {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -$space-25;
    right: -$space-25;
    width: $space-75;
    height: $space-75;
    border-radius: 50%;
    background: $white;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);

    svg {
      margin-top: -1px;
    }
  }

  .match-item__odds {
    justify-content: center;
    margin-top: $space-100;
    color: $gray-25;

    > div + div {
      margin-left: $space-25;
    }

    .has-bet {
      color: $white;
    }
  }

  .match-item__time-played,
  .match-item__goals {
    margin-bottom: $space-50;
  }
}

.live {
  .list__items {
    padding: 0;
  }
}

.match-item--upcoming {
  display: flex;

  .match__label {
    flex: 1 0 calc((100% - 4.4rem) / 3);
    padding: 0;
    height: 4.4rem;
    line-height: 4.4rem;
    background: linear-gradient(to bottom, #f7f7f7, #fff);
    border: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.04);
    color: #000;
    text-align: center;
    text-transform: none;
    transition: opacity .2s linear;

    &:nth-child(2) {
      border-radius: 4px 0 0 4px;
    }

    &:nth-child(6) {
      border-radius: 0 4px 4px 0;
    }

    & ~ .match__label {
      margin-left: -1px;
    }

    &[for*='supertip'] {
      flex: 0 0 4.4rem;
      background: none;
      border: 0;
      box-shadow: none;
      opacity: 0;
      pointer-events: none;
    }
  }

  .match__input[type='radio']:checked ~ [for*='supertip'] {
    opacity: 1;
    pointer-events: auto;
  }
}

.match__group-time {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $gray-100;
}

.no-superbets-left .match__input[type='checkbox']:not(:checked) + .match__label {
  opacity: 0;
  pointer-events:none;
}
