
.match-preview {
  display: block;
  padding: $space-50 0;
  border-top: 1px solid $gray-12;
  border-bottom: 0;

  &:hover {
    background: $gray-12;
  }
}

.match-preview__info {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  margin-bottom: $space-35;
  text-align: center;
}

.match-preview__team {
  align-self: flex-end;
}

.match-preview__live,
.match-preview__over,
.match-preview__draw {
  font-size: $textSmallSize;
  color: $gray-20;
}

.match-preview__live {
  color: $red-100;
}

.match-preview__goals {
  font-size: $h1Size;
  font-weight: $bold-font-weight;
}

.match-preview__flag {

  margin-bottom: $space-25;

  .flag {
    margin: 0 auto;
  }
}

.match-preview__odds {
  font-size: $textTinySize;
  color: $gray-20;
}

.match-preview__name--is-bet,
.match-preview__odds--is-correct-bet {
  color: $yellow-100;
}

.match-preview__scores {
  display: flex;
  // justify-content: space-around;
  font-size: $textSmallSize;
}

.match-preview__score {
  margin-right: $space-50;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }
}

.match-preview__score--kings-game {
  color: $cyan-100;
}

.match-preview__score--oldfashioned {
  color: $blue-100;
}

.match-preview__score--underdog {
  color: $purple-100;
}

.match-preview__score--balanced {
  color: $magenta-100;
}

.match-preview__score--secret {
  color: $orange-100;
}

.match-preview__score--zero {
  color: $gray-14;

  .match-preview__icon {
    opacity: .35;
    filter: grayscale(1);
  }
}

.match-preview__icon {
  width: $space-50;
  vertical-align: middle;
}
