

.nav__items {
  display: flex;
  justify-content: space-between;
}

.nav__link{
  display: block;
  line-height: $space-100;
  border-color: transparent;

  &:hover {
    border-color: $orange-100;
  }

  &.router-link-exact-active {
    border-color: $yellow-100;
  }
}
