@use 'variables' as *;
@use 'mixins' as *;
.rank-grid {
  width: 100%;

  a {
    border-bottom: transparent;
  }
}

.rank-grid__head {
  position: sticky;
  top: 0;
  z-index: 1;
  background: $gray-10;

  .rank-grid__td {
    font-size: $textSmallSize;
    color: $gray-20;
  }
}

.rank-grid__row {
  border-bottom: 1px solid $gray-12;

  @include hover {
    background: $gray-12;
  }
}

.rank-grid__td {
  padding: 0;
  vertical-align: middle;
  text-align: left;

  &:last-child {
    text-align: right;
  }

  > a {
    display: block;
    height: 100%;
    padding: $space-25;
  }
}

.rank-grid__td > a.rank-grid__name-col {
  display: flex;
  height: 100%;
  align-items: center;

  .avatar-champion-wrap {
    margin: 0;
    flex-shrink: 0;
  }
}

.rank-grid__avatar {
  width: $space-75;
}

.rank-grid__name {
  margin-left: $space-35;
}
