.tab-grid {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 2.5fr 9.5fr;
    padding-top: $space-100;
  }
}

.tabs {
  background: linear-gradient(to left, $blue-130, $blue-120);
  font-size: 1.6rem;
  font-weight: $bold-font-weight;

  @media (min-width: 768px) {
    background: transparent;
  }
}

.tab__link {
  display: block;
  margin: $space-25 0;
  padding: 0 $space-50;
  height: $space-100;
  border-radius: 999em;
  line-height: $space-100;
  color: $white;

  &.router-link-active {
    background: rgba($white, .8);
    color: $blue-30;
  }

  @media (min-width: 768px) {
    margin: 0 0 $space-75;
    padding: 0;
    color: $blue-100;

    &.router-link-active {
      background: transparent;
      color: $black;
    }
  }
}

.tab__link-meta {
  font-size: 80%;
  font-weight: $base-font-weight;
}

.tab__link--back {
  margin: 0;
  padding: $space-25 $space-35;
  height: auto;
}

.tab__items {
  display: flex;
  justify-content: space-around;

  @media (min-width: 768px) {
    display: block;
  }
}
