.user__avatar img {
  margin: 0 auto $space-75;
}

.user-preview,
.user-preview__ranks {
  display: flex;
  align-items: center;

  .avatar {
    margin: 0 auto;
  }
}

.user-preview {
  padding: $space-50 0;
  border-top: 1px solid $gray-12;
  border-bottom: 0;

  &:hover {
    background: $gray-12;
  }
}

.user-preview__ranks {
  justify-content: space-between;
}

.user-preview__avatar,
.user-preview__chevron {
  flex: 1 1 auto;
  margin: 0 $space-25;
}

.user-preview__chevron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  max-width: $space-50;
}

.user-preview__rank {
  margin-right: $space-35;
  font-size: $textSmallSize;
  text-align: center;

  &:nth-child(1) {
    color: $cyan-100;
  }

  &:nth-child(2) {
    color: $blue-100;
  }

  &:nth-child(3) {
    color: $purple-100;
  }

  &:nth-child(4) {
    color: $magenta-100;
  }

  &:nth-child(5) {
    color: $orange-100;
  }
}

.user-preview__icon {
  width: $space-50;
  vertical-align: middle;
}

.user-preview__rank--zero {
  color: $gray-14!important;

  .user-preview__icon {
    opacity: .35;
    filter: grayscale(1);
  }
}
