//  ---------------------------------------------------------------------------
//
//  Defines all BASIC variables.
//
//  ---------------------------------------------------------------------------


//  = COLORS
//  ---------------------------------------------------------------------------

    $white:        #fff;
    $black:        #000;

    $gray-10:      #F5F5F5;
    $gray-25:      #D8D8D8;
    $gray-100:     #9B9B9B;

    $green-50:     #407D00;
    $green-100:    #5FB100;
    $green-150:    #F2FEE6;

    $blue-20:      #00495A;
    $blue-30:      #005278;
    $blue-100:     #3EABDC;
    $blue-120:     #007CB6;
    $blue-130:     #00B3DC;
    $blue-140:     #D5EBF2;
    $blue-150:     #E6F7FF;

    $orange-100:   #F3A200;

    $red-50:      #950404;
    $red-100:      #FF5E48;
    $red-150:      #FFE4E4;

    $yellow-80:    #AA7200;
    $yellow-100:   #D48E00;


//  = TYPOGRAPHY
//  ---------------------------------------------------------------------------

    $base-font: 'PT Sans Narrow', sans-serif;
    $base-font-size: 2rem;
    $base-font-weight: 400;
    $bold-font-weight: 700;


//  = LAYOUT
//  ---------------------------------------------------------------------------

    $max-page-width: 128rem;

    $space-10: .4rem;
    $space-25: .8rem;
    $space-35: 1.2rem;
    $space-50: 1.6rem;
    $space-75: 2.4rem;
    $space-100: 3.2rem;
