//  ---------------------------------------------------------------------------
//
//  Defines all BASIC variables.
//
//  ---------------------------------------------------------------------------


//  = COLORS
//  ---------------------------------------------------------------------------

    $white:        #fff;
    $black:        #000;

    $gray-10:      #2D292E;
    $gray-12:      #3A353B;
    $gray-14:      #625964;
    $gray-20:      #C0BEC1;

    $cyan-100:     #66FFDB;
    $blue-100:     #63BEFF;
    $purple-100:   #CBA6FF;
    $magenta-100:  #FF96CB;
    $red-100:      #FF5757;
    $orange-100:   #FFA24D;
    $yellow-100:   #FFD84D;
    $green-100:    #97FF88;

    $body-bg:      $gray-10;


//  = TYPOGRAPHY
//  ---------------------------------------------------------------------------

    $base-font: 'Grandstander', sans-serif; // unitext, snicker, arboria
    $base-font-size: 1.6rem;
    $base-font-weight: 400;
    $bold-font-weight: 700;

    $h1Size: 3.125rem;
    $h2Size: 2.5rem;
    $h3Size: 2rem;
    $textSmallSize: 1.28rem;
    $textTinySize: 1.024rem;


//  = LAYOUT
//  ---------------------------------------------------------------------------

    $max-page-width: 128rem;

    $space-10: .4rem;
    $space-25: .8rem;
    $space-35: 1.2rem;
    $space-50: 1.6rem;
    $space-75: 2.4rem;
    $space-100: 3.2rem;
    $space-125: 4.8rem;
