//  ---------------------------------------------------------------------------
//
//  Defines all BASIC variables.
//
//  ---------------------------------------------------------------------------


//  = COLORS
//  ---------------------------------------------------------------------------

    $blue-100: #3EABDC;


//  = TYPOGRAPHY
//  ---------------------------------------------------------------------------

    $base-font: 'PT Sans Narrow', sans-serif;
    $base-font-size: 2rem;
